{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="search" class="pt-5 text-center">
    <!-- for symmetry from top to bottom on page I am using a container -->
    <div class="container-xxl">
        <div class="row justify-content-around align-items-center text-center">
            <div class="col-lg-12">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
</section>

{% include 'chart-js.html' with date_list=date_list closing_price_list=closing_price_list %}

{% endblock %}